/* Sidebar.module.css */

.sidebar {
  width: 250px;
  background-color: #2c3e50; /* Dark slate background for a sleek look */
  color: #ecf0f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1); /* Depth with shadow */
  height: 100vh;
  transition: width 0.3s; /* Smooth width transition for responsiveness */
}

.profilePhotoImage {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #77A83A; /* Border around the profile photo */
}

.logo {
  font-size: 28px;
  margin-bottom: 30px;
  color: #77A83A; /* Highlight brand name */
}

.userProfile {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  position: relative;
}

.divider {
  border: 1px solid #34495e; /* Subtle divider */
  margin: 15px 0;
}

.userInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  font-size: 18px;
}

.userName {
  font-size: 16px;
  font-weight: bold;
  color: #ecf0f1;
}

.userStatus {
  width: 20px;
  height: 20px;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #ecf0f1;
  border: 1px solid #ddd;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 5px;
  overflow: hidden;
  width: 180px;
}

.dropdownItem {
  padding: 12px 20px;
  background-color: #ecf0f1;
  color: #2c3e50;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdownItem:hover {
  background-color: #bdc3c7;
}

.sidebarMenu {
  width: 100%;
  margin-top: 20px;
}

.menuItem {
  width: 100%;
  background-color: transparent;
  color: #ecf0f1;
  border: none;
  padding: 15px 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  text-align: left;
  cursor: pointer;
  font-size: medium;
  transition: background-color 0.3s, padding-left 0.3s;
}

.menuItem:hover {
  background-color: #77A83A;
  padding-left: 30px; /* Subtle hover animation */
}

.menuItem.active {
  background-color: #44651B; /* Active state color */
}

.menuIcon {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .sidebar {
      width: 70px; /* Collapses sidebar width */
  }
  .menuItem span {
      display: none; /* Hides text on small screens */
  }
  .logo {
      font-size: 18px;
  }
}
