@keyframes fadeInOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  50% {
    opacity: 0;
    transform: translateX(0%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.home {
  margin: 0;
}

.imageContainer {
  position: relative;
  max-width: 100%;
  margin: 0;
  padding: 0; /* Remove any padding */
  height: 600px;
  overflow: hidden;
}

.homeimg, .homeimg2 {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0%;
  object-fit: cover;
  margin: 0; /* Remove any margin */
  padding: 0; /* Remove any padding */
  left: 0; /* Align the image to the left */
  top: 0; /* Align the image to the top */
}

.homeimg {
  z-index: 1; /* Ensure it is below the second image */
  animation: fadeInOut 10s ease-in-out infinite;
}

.homeimg2 {
  z-index: 0; /* Ensure it is above the first image */
  opacity: 0; /* Start hidden */
  animation: fadeInOut 10s ease-in-out infinite 5s; /* Delay animation */
}

/* Style for the overlay text */
.overlayText {
  position: absolute;
  top: 60%;
  left: 80%;
  transform: translate(-50%, -50%);
  text-align: left;
  font-family: 'Inter', sans-serif;
  color: black;
  line-height: 1.5;
  z-index: 2; /* Ensure text is above images */
}

.Text {
  margin-bottom: 10px;
  font-size: 30px;
  border: 1px solid black; /* Add a border around the overlay text */
  padding: 3px; /* Add padding inside the border */
  z-index: 2; /* Ensure text is above images */
}

.text2 {
  color: black;
  margin-top: 10px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.3;
  z-index: 2; /* Ensure text is above images */
}
