.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  background-color: #000;
  color: #ecf0f1;
  padding: 20px;
  height: auto;
  width: 100%;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;
}

.aboutSection, .linksSection, .newsletterSection {
  width: 30%;
}



.footerNav {
  list-style-type: none;
  padding: 0;
  margin: 0 auto; /* Center the list */
  display: inline-block; /* Makes the list compact */
}

.footerNav li {
  margin-bottom: 10px; /* Adjust spacing between list items */
}

.footerNav li a {
  color: #fff;
  text-decoration: none;
  display: inline-block; /* Reduce link width */
  padding: 5px 10px; /* Adjust padding */
  width: auto;
}

.footerNav li a:hover {
  color: #77A83A;
  cursor: pointer;
}

.newsletterForm {
  display: flex;
  flex-direction: row; /* Align items in a row */
  align-items: center; /* Center align vertically */
  gap: 10px; /* Add space between the input and button */
}

.emailInput {
  flex: 1; /* Allow input to take up remaining space */
  padding: 10px;
  margin: 0; /* Remove margin to avoid extra space */
}

.submitButton {
  padding: 10px;
  background-color: #77A83A;
  color: #fff;
  border: none;
  cursor: pointer;
}

.socialSection {
  margin-top: 20px;
}

.socialIcons {
  display: flex;
  gap: 10px;
}

.iconButton {
  font-size: 25px;
  color: #ecf0f1;
}


.copyrightSection {
  display: flex;
  justify-content: left; /* Center the content */
  width: 100%;
  border-top: 1px solid #B3B3B3;
  padding-top: 10px;
  text-align: left;
}


.copyrightYear {
  color: #B3B3B3;
  font-size: 14px;
}
