/* Footer.module.css */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  background-color: #000;
  color: #ecf0f1;
  padding: 20px;
  height: auto;
  width: 100%;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;
}

.aboutSection, .linksSection, .newsletterSection {
  width: 30%;
}

.sectionTitle {
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 33.6px;
}
.footerNav {
  list-style-type: none;
  padding: 0;
  margin: 0; /* Ensure no default margin */
}

.footerNav li {
  margin-bottom: 10px; /* Adjust spacing between list items */
}

.footerNav li a {
  color: #fff;
  text-decoration: none;
  display: block; /* Makes the entire list item clickable */
  padding: 10px; /* Add padding inside each link for spacing */
}

.footerNav li a:hover {
  color: #77A83A;
  cursor: pointer; /* Optional: Change cursor to indicate it's clickable */
}


.newsletterForm {
  display: flex;
  flex-direction: row; /* Align items in a row */
  align-items: center; /* Center align vertically */
  gap: 10px; /* Add space between the input and button */
}

.emailInput {
  flex: 1; /* Allow input to take up remaining space */
  padding: 10px;
  margin: 0; /* Remove margin to avoid extra space */
}

.submitButton {
  padding: 10px;
  background-color: #77A83A;
  color: #fff;
  border: none;
  cursor: pointer;
}

.socialSection {
  margin-top: 20px;
}

.socialIcons {
  display: flex;
  gap: 10px;
}

.iconButton {
  font-size: 25px;
  color: #ecf0f1;
}

.copyrightSection {
  align-self: flex-start; /* Positions it to the left */
  width: 100%;
  text-align: left;
  border-top: 1px solid #B3B3B3; /* Adds the underline */
  padding-top: 10px;
}


.copyrightYear {
  color: #B3B3B3;
  font-size: 14px;
}
